# Empty CSS file for your own CSS
ol {
        background: #ff9999;
        padding: 20px;
}

ol li {
        background: #ffe5e5;
        padding: 5px;
        margin-left: 35px;
}

.tg  {
        border-collapse:collapse;
        border-spacing:0;
        border-color:#999;
}

.tg td {
        font-family:Arial, sans-serif;
        font-size:14px;
        padding:10px 20px;
        border-style:solid;
        border-width:1px;
        overflow:hidden;
        word-break:normal;
        border-color:#999;
        color:#444;
        background-color:#F7FDFA;
}

.tg th {
        font-family:Arial, sans-serif;
        font-size:14px;
        font-weight:normal;
        padding:10px 20px;
        border-style:solid;
        border-width:1px;
        overflow:hidden;
        word-break:normal;
        border-color:#999;
        color:#fff;
        background-color:#26ADE4;
}

.tg .tg-s6z2 {
        text-align:center
}

.tg .tg-baqh {
        text-align:center;
        vertical-align:top
}
